header img{
    height: 40px;
    width: 40px;
}
header{
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    line-height: 40px;
    vertical-align: middle;
}

header h1{
    padding: 0;
    margin: 0;
}